allowed_users:
dp_secret: 
dp_disable: true # Only enable when bootstrapping
url: https://alpine.infinitybots.gg

# Common
github_pat: 

# Enabled plugins
# Enabled plugins
plugins:
  persist:
    github_webhook_sig: 
  frontend:
  actions:
  foo:
  logger:
